.main_content_productCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.mainRecommendation {
  padding: 20px;
  background-color: #2B2828;
  color: white;
}

.title {
  font-size: 32px;
  margin-bottom: 20px;
}

.tags {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tag-button {
  display: flex;
  align-items: center;
  background-color: #333333;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.tag-button img {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.main_content-wrapper {
  margin-top: 20px;
}

.category {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.category img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.category h2 {
  font-size: 24px;
}

.main_content_productCards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}
.category img{
  border-radius: 100%;
}