.cart-page {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  color: whitesmoke;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.cart-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 25%;
  width: 300px;
}

.cart-icon {
  margin-bottom: 20px;
}

.empty-message {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
  color: whitesmoke;
}

.empty-description {
  font-size: 16px;
  color: #ada9a9;
  text-align: center;
  margin-bottom: 20px;
}

.start-shopping-btn {
  background-color: #007aff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 150px;
}

.start-shopping-btn:hover {
  background-color: #0056b3;
}
.cart-icon img {
  width: 350px;
}
.cart-item-buttons button {
  background-color: transparent;
  border: none;
}
.cart-item img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 15px;
}
.cart-item {
  display: flex;
  align-items: center;
  padding: 15px;
  margin-bottom: 15px;
  height: 100px;
  gap: 20px;
  justify-content: space-between;
}
.cart-descriptions {
  display: flex;
  align-items: center;
}

.cart-details-button {
  width: 100%;
  height: 64px;
  position: fixed;
  top: 86%;
  background-color: #565454;
  left: 0;
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}
.cart-details-button button {
  width: 150px;
  border-radius: 26px;
}
.remove-from-cart-btn img{
  width: 20px;
  height: 20px;
}
.cart-items{
  display: flex;
  flex-direction: column;
  width: 100%;
}