* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden; /* Отключает горизонтальный скролл */
  overflow-y: auto; /* Оставляет вертикальный скролл */
  height: 100%;
  margin: 0;
  padding: 0;
}
